.nav [type="checkbox"] {
    display: none;
}

.nav label.label__menu {
    display: none;
    padding: 15px 40px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    position: relative;
}

.nav label.label__menu .fa {
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;
}

@media screen and (max-width: 320px) {
    .header1 {
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__heading {
        margin-left: 1rem;
    }

    .header__text {
        margin-left: 2rem;
    }

    .heade__logo {

        display: inline;
        margin-right: 1rem;
    }

    .header2__images {
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }

    .shoulder {
        box-sizing: border-box;
    }

    .shoulder1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .soulder__img {
        width: 100px;
        height: 100px;
        object-fit: cover;

    }

    .shoulder__star {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .nav {
        overflow: hidden;
        margin-left: auto;
    }

    .nav ul {
        display: none;
    }

    .nav li {
        color: #000;
    }

    .nav a {
        color: #000;
        padding: 5px;
    }

    .nav label.label__menu {
        display: block;
    }

    .head {
        padding: 0 100px;
    }

    .header {
        height: 100vh;
    }



    .fa {
        font-size: 2rem;
    }

    /* .header:before,
    .header:after {
        height: 500px;
    } */


    input.input__menu:checked+label.label__menu {
        background: #ffff;
        color: #000;
        padding: 20px;
    }


    input.input__menu:checked~ul {
        display: block;
        background: #ffff;
        color: red;
        max-height: 100%;
        transition: 1s;
    }

    .chest__img {
        width: 100%;
    }


}

@media screen and (max-width: 610px) {
    .heade__logo {
        transform: rotate(0deg);
    }

    .nav {
        overflow: hidden;
        margin-left: auto;
    }

    .nav ul {
        display: none;
    }

    .nav li {
        color: #000;
    }

    .nav a {
        color: #000;
        padding: 5px;
    }

    .nav label.label__menu {
        display: block;
    }

    .head {
        padding: 0 100px;
    }

    .header {
        height: 100vh;
    }



    .fa {
        font-size: 2rem;
    }

    /* .header:before,
    .header:after {
        height: 500px;
    } */


    input.input__menu:checked+label.label__menu {
        background: #ffff;
        color: #000;
        padding: 20px;
    }


    input.input__menu:checked~ul {
        display: block;
        background: #ffff;
        color: red;
        max-height: 100%;
        transition: 1s;
    }

    .chest__img {
        width: 100%;
    }


}