html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Gilroy;

}

.wrapper {
    position: relative;
    min-height: 100%;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    max-width: 950px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

.header__container {
    margin: 0 auto;
}

.nav {
    padding: 1rem 0;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__item {
    color: #828282;
    font-size: 18px;
}

.header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__heading {
    font-size: 45px;
    width: 50%;
}

.header__text {
    font-size: 18px;
    width: 53%;
}

.heade__logo {
    font-size: 20px;
    transform: rotate(-90deg);
}

.header2 {
    margin-bottom: 3rem;
}

.header2__images {
    width: 100%;
    object-fit: cover;
}